{{define "head"}}
<!DOCTYPE html>
<head>
  <meta name="keyword" content="web community">
  <meta name="robot" content="index, follow">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Arimo:400,400italic,700">
  <title>{{.Title}}</title>
</head>
<body class="site">
<!-- NAV BAR -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <img alt="web community" src="/static/img/community.png" width="30px">
      </a>
	   <div class="collapse navbar-collapse" id="navbar-collapse">
	      <ul class="nav navbar-nav">
		     <li> Web Community </li>
		  </ul>
		{{if .User != nil}}
		  <ul class="nav navbar-right">
		     <a href="/login"> Web Community </li>
		  </ul>
		{{end}}
	   </div>
    </div>
  </div>
</nav>
<body class="">

{{end}}